<!DOCTYPE html>
<html>
  <head>
    <title>BOOKERS2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
<div class="container">
  <div class="row">
    <div class="col-sm-4">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">Bookers</a>
    </div>
    </div>
    <div class="col-sm-8">
<% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        
        <li><span class="glyphicon glyphicon-home"> <%= link_to "Home", user_path(current_user.id), class: "home" %></span></li>

        <li><span class="glyphicon glyphicon-user" aria-hidden="true"><%= link_to "Users", users_path, class: "users" %></span></li>
        
        <li><span class="glyphicon glyphicon-book" aria-hidden="true"><%= link_to "Books", books_path, class: "books" %></span></li>
        
        <li><span class="glyphicon glyphicon-log-out"><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "logout" %></span></li>

    </ul>
  </div>


      <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li><span class="glyphicon glyphicon-home"> <%= link_to "Home", root_path , class: "home" %></span></li>
            <li>
              <span class="glyphicon glyphicon-link" aria-hidden="true"><%= link_to "about", tops_about_path, class: "about" %></span>
            </li>
            <li>
              <span class="glyphicon glyphicon-new-window" aria-hidden="true"><%= link_to "Log in", new_user_session_path, class: "sign_in" %></span>
            </li>
            <li><span class="glyphicon glyphicon-log-in" aria-hidden="true"><%= link_to "Sing up", new_user_registration_path, class: "sign_up" %></span></li>
          </ul>
      <% end %>
    </div>
    </div>
  </div>
</div>
</nav>
<%= yield %>
<div class="last-comment">
<p>CopyRight Infratop.incz</p>
</div>
  </body>
</html>